[package]
name = "xtask"
edition = "2021"
rust-version.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
clap = { version = "4.5", features = ["derive"] }
xshell.workspace = true
